<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>

<body>
    <!-- <h1>Hello World :) </h> -->
    <div class="content">
        <h1 style="text-align: center">Task Master</h1>

        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks_add %}
            <tr>

                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date()}}</td>

                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <div class="form">
            <form action="/" method="POST" style="text-align: center">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add Task">
            </form>
        </div>
    </div>

</body>

</html>